<!Doctype html>

<head>
<div class="main">
<title>beyondev.com</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>	
	
<body style="background-color:#b3a3e3;text-align:center">
	<img class="logo" src="images/logo.jpeg" width="300" height="200" title="logo" >
<br>

<h1 class="title">BEYONDEV IOTECH.PVT LTD</h1>
<p class="menu">
<a href="/home">HOME</a home=# >&nbsp&nbsp&nbsp&nbsp
<a href="/blog">BLOG</a blog=# >&nbsp&nbsp&nbsp&nbsp
<a href="/about">ABOUT</a about=# >&nbsp&nbsp&nbsp&nbsp
<a href="/login">LOGIN</a login=# >&nbsp&nbsp&nbsp&nbsp
</p>
<h4><i> NO MORE BLOGS IN THIS </i><br></h4>
<h6><a href="blog">PLEASE TRY AGAIN AFTER SOME TIME</h6></a>
</div>
</body>
</html>