<!doctype html>
	<head>
		<div class="main">
		<title class="title">beyondev.com</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
    <body style="background-color:#b3a3e3;text-align:center">
		<img class="logo" src="images/logo.jpeg" width="300" height="200" b title="logo">
<br>
<h1 class="title"> BEYONDEV IOTECH.PVT LTD</h1>
<p class="menu">
<a href="/home">HOME</a home=# >&nbsp&nbsp&nbsp&nbsp
<a href="/blog">BLOG</a blog=# >&nbsp&nbsp&nbsp&nbsp
<a href="/about">ABOUT</a about=#>&nbsp&nbsp&nbsp&nbsp
<a href="/login">LOGIN</a login=#>&nbsp&nbsp&nbsp&nbsp
<br>
</p>



<h4>
	
	To serve our customers to the best by delivering technically sound and affordable business solutions while ensuring exceptional customer support throughout the process.
                                       
</h4>


 	<br>
 	<br>
 	<b>ADDRESS:<br> NO: 120, 1 Chinnakadai St, Pavazhakundur, Tiruvannamalai, Tamil Nadu 606601</p></b>
 	<P>
EMAIL: <br>info@beyondev.com<br>

<p > CONTACT: <br> 9444247926</p>



 </p>



</div>

	</body>