<!Doctype html>

<head>
	<div class="main">

<title>beyondev.com</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>	
	
<body style="background-color:#b3a3e3;text-align:center">
<img class="logo" src="images/logo.jpeg" width="300" height="200" title="logo" >
<br>

<h1 class="title">BEYONDEV IOTECH.PVT LTD</h1>
<p class="menu">
<a href="/home">HOME</a home=#  >&nbsp&nbsp&nbsp&nbsp
<a href="/blog">BLOG</a blog=# >&nbsp&nbsp&nbsp&nbsp
<a href="/about.">ABOUT</a about=#>&nbsp&nbsp&nbsp&nbsp
<a href="/login">LOGIN</a login=#>&nbsp&nbsp&nbsp&nbsp
<br>
</p>
	<div class="regform">
		<h1 class="SIGN">SIGN UP</h1>
		<form action="" method="POST">
			<div class="input">
				 <input class="input" type="text" name="name" placeholder="ENTER YOUR NAME ">
			</div><br>
			<div class="input">
				
				<input class="input"  type="text" name="EMAIL" id="email"  placeholder="EMAIL">
			</div><br>
			<div class="input">
				
				<input  class="input" type="NUMBER" name="PHONE NUMBER"  id="phonenumber" placeholder="PHONE NUMBER" min="10" >
			</div><br>
			<div class="input">
				
				<input class="input" type="PASSWORD" name="PASSWORD" id="PASSWORD" placeholder="PASSWORD"   >
			</div><br>
			<div class="btn">
				<button class="button" type="submit" title="CLICK TO SUBIT INFORMATION"><a href="">LOG IN</a></button>
				
			</div>
			
		</form>
		
	</div>
</div>
</body>
